extend layout
block content
    link(rel='stylesheet', href='/css/profile.css')
    link(rel='stylesheet', href='/css/tabmenu.css')
    .tabmenu
        .tab_top_active#tab_top_1(onclick="javascript:openTab(1);") Overview
        .tab_top_active#tab_top_2(onclick="javascript:openTab(2);") Elograph
        .tab_top_active#tab_top_3(onclick="javascript:openTab(3);") Match History
        //.tab_top_active#tab_top_4(onclick="javascript:openTab(4);") Collection
        //.tab_top_active#tab_top_5(onclick="javascript:openTab(5);") Builds
        //.tab_top_active#tab_top_6(onclick="javascript:openTab(6);") Stats
        .tab_top_active#tab_top_7(onclick="javascript:openTab(7);") Playstyle
        .style(style='clear: both;')
        .tab_box#tab_box_1
            .profile
                .ad_hor#googlead
                    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                    ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2408139751926605" data-ad-slot="8367468970"  data-ad-format="auto" data-full-width-responsive="true")
                    script (adsbygoogle = window.adsbygoogle || []).push({});
                #placeholder(style="margin-left:33%;width:33%;text-align:center;")
                    h4 Select a player
                    .form-inline.my-2.my-lg-05
                        input#playername2.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search', style='margin-left:33%')
                        button.btn.my-sm-0(onclick="setPlayer();") Search
                #ingame Currently ingame 
                #player_icon1
                h1#player_name1
                #playerbadge_level.badge
                #playerbadge_rank.badge
                h3#player_elo1
                #rank
                #playerLevel
                #stats(style="display:none;")
                    button#toggleseason.btn.btn-outline-success.my-sm-0(style="float:right;") Overall
                    #mittig
                        #general
                            #winStreak
                            #classicElo
                            #gameTime
                            #collectionValue
                            #gamesWithoutCard
                            #botWins
                            #bestFriends
                            .player#player1
                                #name1
                                #elo1
                                #best_legion1
                                #favstart1.favcontainer
                                #leaks1.leaks
                        #seasonal
                            h3 Seasonal
                            #s_rankedPeakElo
                            #s_rankedGames
                            #s_rankedWins
                            #s_rankedLosses
                            #s_classicElo
                            #s_classicPeakElo
                            #s_classicGames
                            #s_classicWins
                            #s_classicLosses
                        #overall(style="display:none;")
                            h3 Overall
                            #o_rankedPeakElo
                            #o_gamesPlayed
                            #o_rankedWins
                            #o_rankedQuits
                            #o_rankedTies
                            #o_rankedLosses
                            #o_casualGames
                            #o_casualWins
                            #o_classicPeakElo     
                            #o_atlantean_games 
                            #o_atlantean_wins
                            #o_element_games
                            #o_element_wins
                            #o_grove_games
                            #o_grove_wins
                            #o_mech_games
                            #o_mech_wins
                            #o_forsaken_games
                            #o_forsaken_wins
                            #o_nomad_games
                            #o_nomad_wins
                            #o_shrine_games
                            #o_shrine_wins
        .tab_box#tab_box_2
            .profile
                h1#player_name2
                #chart-container
                    canvas#myChart
        .tab_box#tab_box_3
            .profile
                .wrap.active
                    .content
                        b Game:
                        select#setGame.form-control.mr-sm-2(type='text', onchange="getGameDetails(this.value)")
                            option(value="0") Game
                        <!-- players -->
                        b Summary:
                        #game_summary(style="text-align: center;")
                            .p#game_id Result # ID:
                            .p#game_date Date:
                            .p#game_result Result:
                            .p#game_wave Wave:
                            .p#game_time Time Elapsed:
                        b Details:
                        #tablewrapper
                            table#gamedetails_table(cellspacing="0", cellpadding="0")
                                tr
                                    th Name
                                    th Elo
                                    th MVP Score
                                    th Value
                                    th Worker
                                    th Income
                                    th Leaks
                                tr#game_player1(onclick="javascript: getPlayerBuild(0);")
                                    td#name_1
                                    td#elo_1
                                    td#mvpscore_1
                                    td#value_1
                                    td#worker_1
                                    td#income_1
                                    td#leaks_1
                                tr#game_player2(onclick="javascript: getPlayerBuild(1);")
                                    td#name_2
                                    td#elo_2
                                    td#mvpscore_2
                                    td#value_2
                                    td#worker_2
                                    td#income_2
                                    td#leaks_2
                                tr
                                    td(colspan="7" style="height:10px;")
                                tr#game_player3(onclick="javascript: getPlayerBuild(2);")
                                    td#name_3
                                    td#elo_3
                                    td#mvpscore_3
                                    td#value_3
                                    td#worker_3
                                    td#income_3
                                    td#leaks_3
                                tr#game_player4(onclick="javascript: getPlayerBuild(3);")
                                    td#name_4
                                    td#elo_4
                                    td#mvpscore_4
                                    td#value_4
                                    td#worker_4
                                    td#income_4
                                    td#leaks_4
        .tab_box#tab_box_4
            .profile
                h1 Not supported yet, sorry :(
        .tab_box#tab_box_5
            .profile
                .wrap.active
                        .content
                            .mittig#selector Mode:
                                select#setRace2.form-control.mr-sm-2.meinselect(type='text', onchange="drawPlayerBuilds(playerGames)")
                                    option(value="ranked") Ranked
                                    option(value="classic") Classic
                            #filter(onclick="toggleFilters();") Hide Filters
                            h1#playername
                            #totalgames
                            #chancetoleak
                            #whatmademeleak
                            #chancetolose
                            #chancetosend
                            #whatmadehimleak
                            #chancetowin
                            #lable_build Average Build:
                                #avgbuild
                            #lable_send Average Sends:
                                #avgsend
        .tab_box#tab_box_6
            .profile
                .wrap.active(heigth="100%")
                        .content
                            #general_stats.divider
                                h3 General:
                                h4.statlink(onclick="showWinPickrates();") Legion Pick/Winrates
                                    img.small_icon(src="/img/icons/diagram.png")
                            #wave_stats.divider
                                h3 Per wave:
                                h4.statlink(onclick="showWorkersPerWave();") Workers per Wave
                                    img.small_icon(src="/img/icons/Worker.png")
                                h4.statlink(onclick="showNetworthPerWave();") Networth per Wave
                                    img.small_icon(src="/img/icons/GoldCoin.png")
                            #game_stats.divider
                                h3 On Game End:
                                h4.statlink(onclick="showValueOnEnd();") Value on game end
                                    img.small_icon(src="/img/icons/value.png")
                                h4.statlink(onclick="showWorkersOnEnd();") Workers on game end
                                    img.small_icon(src="/img/icons/Worker.png")
                                h4.statlink(onclick="showIncomeOnEnd();") Income on game end
                                    img.small_icon(src="/img/icons/Income.png")
                                h4.statlink(onclick="showLeaksOnEnd();") Leaks on game end
                                    img.small_icon(src="/img/icons/LeakedUnit.png")
                        #playerstats(style="display:none;")
                                #close(title="Close", onclick="hideStatsPage();") X
                                #help(title="Help", onclick="showHelpPage();") ?
                                #inputs
                                    select#typeselector.inline(onchange="saveSelection();")
                                        option(value="") Select a filter
                                        option(value="version") Patch
                                        option(value="tsgte") > Date
                                        option(value="tslt") < Date
                                    input#value_textField.inline(type="text", style="display:none;", placeholder='v2.32')
                                    input#value_dateField.inline(type="date", style="display:none;")
                                    button#startButton.inline(onclick="readSelection();") Go
                                #chart-container2
                                    canvas#myChart2
                        #helpwindow(onclick="hideHelpPage();", style="display:none;")
                            #helpcontent
        .tab_box#tab_box_7
            .profile
                h3 coming soon
    script(src="/js/jquery.js")
    script(src="/js/tabmenu.js")
    script(src="/js/profile.js")
    script(src="/js/unitstats.js")
    script(src="/js/profile_stats.js")
    script(src="/js/Chart.js")
    script checkContent();openTab(1);