.card{
    margin:1%;
    padding:1%;
    
}

.twitchicon{
    margin-right:0.5%;
    height:24px;
    width:24px;
}

.flexbox {
    display:flex;
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
    justify-content:center;
}

.flexitem{
    width: 25%;
    margin:auto;
    padding:4%;
}

#filterbutton{
    width: 6%;
    border-radius: 1mm;
    background-color: lightgray;
    padding: 0.5%;
    text-align: center;
}
#filterbutton:hover{
    cursor: pointer;
    background-color: grey;
}

#filterbox{
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.filter{
    width: 10%;
    text-align: center;
    padding:0.1%;
}

select{
    width:75%;
}